<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>Hanabi Games</h1>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary"
                (click)="createGame()"><i class="fa fa-edit"></i>New Game!</button>
        </div>
    </div>
    <div class="row cards">
        <div class="col-md-12">
            <ul *ngIf="games"
                class="list-group">
                <li *ngFor="let game of games"
                    [ngClass]="{'not_started': game.turn == 0, 'has_started': game.turn > 0, 'has_finished': game.has_finished > 0, 'list-group-item': true}">
                    <div *ngIf="game.owner._id != userId">
                        <b>Spectate</b>: <a routerLink="/game/{{game.game_id}}">{{game.game_name}}</a>
                    </div>
                    <div *ngIf="playerInGame(game)">
                        <b>Continue Game</b>: <a routerLink="/game/{{game.game_id}}/{{playerInGame(game)}}">{{game.game_name}}</a>
                    </div>
                    &nbsp;
                    <b>Owner</b>: <a routerLink="/user/{{game?.owner._id}}">{{game?.owner.name}}</a>
                    &nbsp;
                    <b>Players</b>: <a class="link"
                        [ngbPopover]="popContent"
                        placement="right">{{game.num_players}}</a>

                    <ng-template #popContent>
                        <button class="btn btn-primary"
                            (click)="joinGame(game)">Join Game</button>
                    </ng-template>
                </li>
            </ul>
            <div *ngIf="games.length == 0">
                <b>
                    There are currently no active games.
                </b>
            </div>
        </div>
    </div>
</div>