/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';
@import "~font-awesome/css/font-awesome.min.css";
.blue {
    background-color: blue;
  }
  .red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .green {
    background-color: green;
  }
  .white {
    background-color: white;
  }
  .rainbow {
    background-color: purple;
  }
  .grey {
    background-color: lightgray;
  }

  .link {
  color: #007bff !important;
  background-color: transparent;
  }
  
  .link:hover {
    color: #0056b3 !important;
  text-decoration: underline !important;
  cursor: pointer;
  }

  .overflow {
    height: 300px;
    overflow: auto;
  }
  
  .has_started {
    background-color: rgba(138, 139, 138, 0.2);
};

.not_started {
    background-color: rgba(0, 255, 0, 0.2);
};

.has_finished {
    background-color: rgba(255, 0, 0, 0.2);
};